%h1=@user.name

-@full_follow.each do |user|
	%li
		=link_to user.name, user_path(user)
		%button{:onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"} unfollow
		%span followed by

-@following.each do |user|
	%li
		=link_to user.name, user_path(user)
		%button{:onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"} unfollow

-@followed_by.each do |user|
	%li
		=link_to user.name, user_path(user)
		%button{:onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"} follow
		%span followed by

-@non_follow.each do |user|
	%li
		=link_to user.name, user_path(user)
		%button{:onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"} follow

=debug(@all_users)

:javascript
	var toggle_follow_user_path = "#{toggle_follow_user_path}";
	function toggle_follow_user(owner_id, target_id){
		$.ajax({
			url: toggle_follow_user_path,
			type: 'post',
			data: {
				owner_id: owner_id,
				target_id: target_id}
			})
			.done(function(data) {
				console.log(data);
				location.reload();
			})
			.fail(function(data) {
				console.error(data);
			//	location.reload();
			});
		}