%h1=@user.name

%table{:class=>"large-12 columns"}
	%thead
		%tr
			%th{:style=>""} User Name
			%th{:style=>"width: 12rem;"}
			%th{:style=>"width: 12rem;"}
	%tbody
		-@full_follow.each do |user|
			%tr
				%td=link_to user.name, user_path(user)
				%td is following
				%td
					%button{:class => "", :onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"}
						unfollow

		-@following.each do |user|
			%tr
				%td=link_to user.name, user_path(user)
				%td
				%td
					%button{:class => "", :onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"}
						unfollow

		-@followed_by.each do |user|
			%tr
				%td=link_to user.name, user_path(user)
				%td is following
				%td
					%button{:class => "", :onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"}
						follow

		-@non_follow.each do |user|
			%tr
				%td=link_to user.name, user_path(user)
				%td
				%td
					%button{:class => "", :onclick => "toggle_follow_user("+@user.id.to_s+","+user.id.to_s+")"}
						follow

:javascript
	var toggle_follow_user_path = "#{toggle_follow_user_path}";
	function toggle_follow_user(owner_id, target_id){
		$.ajax({
			url: toggle_follow_user_path,
			type: 'post',
			data: {
				owner_id: owner_id,
				target_id: target_id}
			})
			.done(function(data) {
				console.log(data);
				location.reload();
			})
			.fail(function(data) {
				console.error(data);
			//	location.reload();
			});
		}