/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$white: white;
$accent-color: #D30;

$full-margin: 1rem;
$half-margin: $full-margin/2;

$min-height: 4rem;

$content-width: 100%; /* 100% here will define a fully fluid site! */

@mixin clearfix {
	&:before, &:after {
		content: "";
		display: block;
		height: 1px;
	}
}

@mixin filter($value){ /* incompatible with direct tranformations! */
	filter: $value;
	-webkit-filter: $value;

	transform: translateZ(0px);
	-o-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-webkit-transform: translateZ(0px);
}

@mixin transition($value){
	transition: $value;
	-o-transition: $value;
	-ms-transition: $value;
	-moz-transition: $value;
	-webkit-transition: $value;
}

html {
	font-size: 14px;
}

* {
	color: #345;
}

h1,h2,h3,h4,h5,h6,
p,li {
	padding: $full-margin; /* don't use <p> inside of a table!  use grid layout for any complex information. */
	padding-top: 0;
	color: #345;
	font-weight: thinner;
}

.row, .inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: $content-width;
}

:not(.row) > .columns {
	margin: 0;
}

$cell-padding-side: $half-margin;
$cell-padding-vert: $half-margin/2;

$link_color: #8CF;

$table-row-color: #f8f8f8;
$table-odd-row-color: white;
$table-head-color: white;
$table-highlight-color: mix($table-row-color, $link_color, $weight: 50%);
$table-odd-highlight-color: mix($table-odd-row-color, $link_color, $weight: 50%);

table {
	table-layout: fixed;
	border-collapse: separate;
	padding: 0 !important;
	tr {
		background: $table-row-color;
		border-left: $full-margin solid transparent;
		border-right: $full-margin solid transparent;
		td, th {
			padding: #{$cell-padding-vert} #{$cell-padding-side};
			border: 1px solid transparent;
			button, .button {
				display: block;
				height: 2rem;
				padding: 0;
				line-height: 2rem;
				width: calc(100% + #{$cell-padding-side * 2});
				width: -webkit-calc(100% + #{$cell-padding-side * 2});
				margin: #{-$cell-padding-vert} #{-$cell-padding-side};
			}
			&:first-child {
				padding-left: $full-margin;
			}
			&:last-child {
				padding-right: $full-margin;
				button, .button {
					width: calc(100% + #{($cell-padding-side * 2) + $half-margin} - 1px);
				}
			}
		}
	}
	thead tr {
		th {
			background: $table-head-color;
		}
	}
	tbody tr {
		&:hover, &:focus {
			background: $table-highlight-color;
		}
		&:nth-child(2n) {
			background: $table-odd-row-color;
			&:hover, &:focus {
				background: $table-odd-highlight-color;
				border-left: $half-margin solid $table-odd-highlight-color;
				border-right: $half-margin solid $table-odd-highlight-color;
			}
		}
	}
}

button, .button {
	min-width: 8rem;
	background: $accent-color;
	color: white;
	@include transition(background 0.25s);
	&:hover {
		background: lighten($accent-color, 10);
	}
	&.fill-width {
		width: 100%;
	}
}

form {
	> * {
		padding: 0;
	}
}

$top-bar-height: 4rem;
.top-bar {
	height: $top-bar-height;
	background: $white;
	box-shadow: 0 #{$top-bar-height * -1.5} #{$top-bar-height} #{$top-bar-height};

	.brand-image {
		img {
			height: $top-bar-height - ($full-margin * 2);
			margin-top: $full-margin;
		}
	}
}

$side-nav-width: 16rem;
$side-nav-color: #002838;
$side-nav-link-height: 4rem;

.side-nav {
	float: left;
	position: absolute;
	overflow: hidden;
	width: $side-nav-width;
	min-height: calc(100vh - #{$top-bar-height});
	min-height: -webkit-calc(100vh - #{$top-bar-height});
	background: $side-nav-color;
	padding: 0;
	li {
		display: block;
		margin: 0;
		padding: 0;
		a {
			display: block;
			padding: 0 $full-margin !important;
			height: $side-nav-link-height;
			line-height: $side-nav-link-height;
			&:hover, &:focus{
				background: hsla(0, 100%, 100%, 0.125) !important;
			}
		}

		&.active, & {
			&:after {
				content: "";
				display: block;
				position: absolute;
				right: -$side-nav-link-height * 0.5;
				top: 0;
				height: $side-nav-link-height;
				width:  $side-nav-link-height;
				background: white;
				border-radius: 0 0 0 2px;
				transform: rotate(45deg);
				transform: matrix(0.50, 0.50, -0.50, 0.50, 0, 0); /* diamond of same height */
				transform: matrix(0.55, 0.55, -0.55, 0.55, 0, 0); /* diamond of slgihtly greater height */
			}
		}
	}
	@media(max-width: 1000px){
		width: 100%;
		min-height: 0;
		float: none;
	}
}

.page-content {
	float:right;
	max-width: calc(100% - #{$side-nav-width});
	max-width: -webkit-calc(100% - #{$side-nav-width});

	@media(max-width: 1000px){
		max-width: none;
		float: none;
	}

	.breadcrumbs {
		background: none;
		border: none;
		padding: 0 $full-margin;
		height: $min-height;
		line-height: $min-height;
		li {
			font-size: inherit;
			text-transform: none;
			padding: 0;
			line-height: $min-height;
		}
	}
}