%ul{:class=>"side-nav"}
	%li
		- link_class = (request.url === root_url) ? "active" : "inactive"
		= link_to("Home", root_path, {:class=>link_class})
	%li
		- link_class = (request.url.include? users_path) ? "active" : "inactive"
		= link_to("Users", users_path, {:class=>link_class})