%nav{:class=>"top-bar"}
	%div{:class=>"row"}
		%ul{:class=>"title-area"}
			%li{:class=>"brand-image"}
				= link_to root_url do
					%img{:src=>"//conjectur.com/assets/output/optimized/Logo_0414_Extended_Standard-01.svg"}